rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 1. Data yang ID Dokumen-nya sama dengan UID Pengguna (contoh: /users/{userId})
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // 2. Data di koleksi lain yang memiliki field 'userId' di dalam dokumennya
    match /{collectionName}/{docId} {
      // Izinkan membaca, mengubah, dan menghapus jika 'userId' di dokumen sama dengan UID pengguna yang login
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
      
      // Izinkan membuat dokumen baru jika 'userId' yang dikirim sama dengan UID pengguna yang login
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}
